@page
@model BikeForLife.Web.Pages.MembersModel
@{
    ViewData["Title"] = "Members";
}

<h1>Members</h1>

<table>
    <tr>
        <th>Navn</th>
        <th>Tilmeldings dato</th>
        <th>Køreniveau</th>
    </tr>
</table>
